<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Server HOME ...</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Free HTML5 Website Template by FreeHTML5.co" />
  <meta name="keywords"
        content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
  <meta name="author" content="FreeHTML5.co" />




  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="../static/favicon.ico" />

  <link
          href='https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic,700'
          rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700'
        rel='stylesheet' type='text/css' />

   <link rel="stylesheet" type="text/css"
        href="..\resources\static\css\bootstrap.min.css"
        th:href="@{..\resources\static\css\bootstrap.min.css}" />
  <!-- Animate.css -->
  <link rel="stylesheet" type="text/css" href="..\resources\static\css\animate.css"
        th:href="@{/css/animate.css}" />
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" type="text/css" href="..\resources\static\css\icomoon.css"
        th:href="@{..\resources\static\css\icomoon.css}" />
  <!-- Bootstrap  -->
  <link rel="stylesheet" type="text/css"
        href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
  <!-- Owl Carousel -->
  <link rel="stylesheet" type="text/css"
        href="../static/css/owl.carousel.min.css"
        th:href="@{/css/owl.carousel.min.css}" />
  <link rel="stylesheet" type="text/css"
        href="../static/css/owl.theme.default.min.css"
        th:href="@{/css/owl.theme.default.min.css}" />
  <!-- Theme style  -->
  <!--
     C:\Users\djamel\Documents\workspace-spring-tool-suite-4-4.0.1.RELEASE\testserver\src\main\resources\templates\bpmn-js-examples\modeler\public\app.bundled.js
     -->


  <link rel="stylesheet" type="text/css" href="../static/css/style.css"
        th:href="@{/css/style.css}" />

  <!-- Modernizr JS -->
  <script src="js/modernizr-2.6.2.min.js"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->

  <title>bpmn-js modeler demo</title>

  <link rel="stylesheet" href="bpmn-js-examples\modeler\public\css/app.css"  th:href="@{bpmn-js-examples\modeler\public\css/app.css}" />
  <link rel="stylesheet" type="text/css"
        href="bpmn-js-examples\modeler\public\css\bootstrap.css"
        th:href="@{bpmn-js-examples\modeler\public\css\bootstrap.css}" />

  <style>
body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}
</style>
</head>
<body>


<div>
    <ul class="topnav">
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="Employe">Employe</a></li>
      <li><a href="Service">Service</a></li>
      <li><a href="Dossier">Dossier</a></li>
      <li><a href="Historique">Historique</a></li>


      <li><a href="#contact">Contact</a></li>
      <li class="right"><a href="#about">Modele</a></li>
    </ul>
  </div>
           <div class="content" id="js-drop-zone">

            <div class="message intro">

              <div class="note">
                <a id="js-create-diagram" href>create a new diagram</a>
              </div>
            </div>

            <div class="message error">
              <div class="note">
                <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

                <div class="details">
                  <span>cause of the problem</span>
                  <pre></pre>
                </div>
              </div>
            </div>

            <div class="canvas" id="js-canvas"></div>
      </div>
  <ul class="buttons">
    <li>
      download
    </li>
    <li>
      <a id="js-download-diagram" href title="download BPMN diagram">
        BPMN diagram
      </a>
    </li>
    <li>
      <a id="js-download-svg" href title="download as SVG image"  >
        SVG image
      </a>
    </li>
  </ul>

  <script src="bpmn-js-examples\modeler\public\app.bundled.js"
          th:src="@{bpmn-js-examples\modeler\public\app.bundled.js}" ></script>
  </div>
  </div>
</div>
    </body>
</html>
