
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/fragments/head :: head"></th:block>
</head>
<body>
<div id="fh5co-page">
	<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

	<th:block th:include="/fragments/menu :: menu"></th:block>


	<div id="fh5co-main">

			<div class="fh5co-narrow-content">
				<h1 class="fh5co-heading animate-box"
					data-animate-effect="fadeInLeft">Modele</h1>




				<div class="row animate-box" data-animate-effect="fadeInLeft">

					<div class="col-md-6 col-sm-6 col-xs-12 spacer col-md-offset-3">
						<div class="panel panel-default">
							<div class="panel-heading">Ajouter Nouveau Modele</div>

							<div class="panel-body">

								<form th:action="postEndpoint" method="post">

									<div class="form-group">
										<label class="control-label">Nom Modele :</label> <input
											type="text" th:value="*{namemodel}" id="namemodel"
											name="namemodel" class="form-control"
											placeholder="Nom Modele" required /> <span></span>
									</div>

									<div>
										<div class="col-md-4 col-sm-4 col-xs-4 text-center">
											<a href="home"><i class="icon-long-arrow-left"></i> <span>
													Retour</span></a>
										</div>
										<button type="submit" onclick="myFunction()" class="btn btn-primary">Suivant</button>
									</div>
								</form>
								<script>
									function myFunction() {
										var str =document.getElementById("namemodel").innerHTML.value  ;
										var res = str.split(" ");
										document.getElementById("namemodel").value = res;
									}
								</script>

							</div>
						</div>
					</div>



				</div>
			</div>

		</div>
	</div>







	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>


	<!-- MAIN JS -->
	<script src="js/main.js"></script>
</body>
</html>

