
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="/fragments/head :: head"></th:block>
</head>
<body>
<div id="fh5co-page">
	<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

	<th:block th:include="/fragments/menu :: menu"></th:block>


	<div id="fh5co-main">

			<div class="fh5co-narrow-content">
				<h1 class="fh5co-heading animate-box"
					data-animate-effect="fadeInLeft">Entity</h1>




				<div class="row animate-box" data-animate-effect="fadeInLeft">

					<!-- 					<div class="col-md-6 col-sm-6 col-xs-12 spacer col-md-offset-3"> -->
					<!-- 						<div class="panel panel-default"> -->
					<!-- 							<div class="panel-heading">Ajouter Nouveau Entity</div> -->

					<!-- 							<div class="panel-body"> -->

					<!-- 								<form th:action="@{addModele}" method="post" -->
					<!-- 									th:object="${enployee}"> -->

					<!-- 									<div class="form-group"> -->
					<!-- 										<label class="control-label">Nom Entity :</label> <input type="text" -->
					<!-- 											th:field="*{name}" class="form-control" required/> <span></span> -->
					<!-- 									</div> -->

					<!-- 									<div> -->
					<!-- 									<div class="col-md-4 col-sm-4 col-xs-4 text-center"> -->
					<!-- 							<a href="home"><i class="icon-long-arrow-left"></i> <span> Retour</span></a> -->
					<!-- 						</div> -->
					<!-- 										<button type="submit" class="btn btn-primary">Suivant</button> -->
					<!-- 									</div> -->
					<!-- 								</form> -->
					<!-- 							</div> -->
					<!-- 						</div> -->
					<!-- 					</div> -->


					<script type="text/javascript">
						function getP() {
							var nbP = +document.getElementById("nombreP").value;
							var inputContainer = document
									.getElementById("inutContainer");
if(nbP>0){
	for (var i = 1; i <= nbP; i++) {
		var newForm = document.createElement("input");
		newForm.setAttribute("type", "text");
		newForm.setAttribute("id", "ch" + i);
		newForm.setAttribute("class", "form-control");
		newForm.setAttribute("placeholder",
				"Nom champ n°:" + i);
		newForm.setAttribute("required", "required");

		inputContainer.appendChild(newForm);
		inputContainer.appendChild(document
				.createElement("br"));

	}
	
	
}
							

						}
					</script>

					<script type="text/javascript">
						function vefryP() {
							var nbP = +document.getElementById("nombreP").value;
							var inputContainer = document
									.getElementById("inutContainer");
 	for (var i = 1; i <= nbP; i++) {
		var k = 0;
		var ch = document.getElementById("ch"+i).value;
		for (var j = 1; j <= nbP; j++) {
			var ch1 = document.getElementById("ch"+j).value;
 
     
		if((j!=i)&& (ch==ch1)){ 
	 k++;
        if(k>0){  alert("le chont "+ch+" reputer pluse de  "+k ) ;}}
			 
		 
          
		           }
		}
		 
}
					</script>
					<div class="col-md-6 col-sm-6 col-xs-12 spacer col-md-offset-3">
						<div class="panel panel-default">
							<div class="panel-heading">Ajouter les champs de dossier</div>

							<div class="panel-body">

								<form th:action="postCreatTable" method="post" > 
 										<label class="control-label">N° des champs : </label> <input
											type="number" th:value="*{nbr}" id="nbr"  name="nbr"
											class="form-control" required="required" />
																<div>
							<div class="col-md-4 col-sm-4 col-xs-4 text-center">
								<a href="drop"><i class="icon-long-arrow-left"></i> <span>
										Annuler</span></a>
							</div>

							<button type="submit"     class="btn btn-primary">Suivant</button>
						</div>
						</form>
											 <input
											type="button" value="Créér" id="ok" onclick="getP()" /> <input
											type="button" value="Créér2" id="ok2" onclick="vefryP()" />
								
									 
										<div id="inutContainer"></div>
								 
							</div>
						</div>
	
					 
					</div>
				</div>
			</div>

		</div>
	</div>

	</div>
	</div>







	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Counters -->
	<script src="js/jquery.countTo.js"></script>


	<!-- MAIN JS -->
	<script src="js/main.js"></script>


</body>
</html>

