body {
	padding-top: 50px;
	background-color: #fff;
}

.main-container {
	padding: 40px 15px;
	text-align: center;
}

.navbar-form {
	border:none !important;
}

.navbar-brand.full {
	padding: 2px;
	margin-right: 5px;
}

.top-buffer-sm {
	margin-top: 10px;
}

.top-buffer-md {
	margin-top: 20px;
}

.top-buffer-lg {
	margin-top: 30px;
}